$bar-background: #232323;
$navbar-link-background-hover: rgb(250, 38, 233);
$dropdown-link-background-hover: #e6e6e6;
$dropdown-link-hover: $dropdown-link-background-hover;
$dropdown-link: $bar-background;
$navbar-link: #35f1ee;
$navbar-link-hover: #000000;

$navbar-small-font-screen-width: 800px;
$navbar-large-font-screen-width: 400px;

$navbar-brand: $navbar-link;
$navbar-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);

$collapse-button-bar-shadow: 0px 0px 0.8px rgba(0,0,0,0.6);
$collapse-button-bar-color: $navbar-link;
$collapse-button-border-color: #e0e0e0;

$collapse-button-outer-shadow: 0px 0px 4px rgba(0,0,0,0.6);
$collapse-button-outer-shadow-selected: 0px 0px 8px rgba(0,0,0,0.6);

$page-background: #ffffff;
$page-text: #303030;