<h1>Answer Page</h1>
<p>Current team names: cyan, magenta</p>

<div>
    <form #answerForm="ngForm">
        <h2>Select team name:</h2>
        <div class="form-group">
            <input type="text" class="form-control" id="name"
                   [(ngModel)]="model.teamName"
                   name="name">
        </div>

        <button type="submit" class="btn btn-success" (click)="getTeamAnswers()">Find team</button>

        <h2>Answers:</h2>
        <div class="form-group">
            <label for="imagination">Imagination:</label>
            <input type="text" class="form-control" id="imagination"
                   [(ngModel)]="model.searchAnswer.imagination"
                   name="imagination">
        </div>
        <div class="form-group">
            <label for="animals">Animals:</label>
            <input type="text" class="form-control" id="animals"
                   [(ngModel)]="model.searchAnswer.animals"
                   name="animals">
        </div>
    </form>
</div>